@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@1,300&family=Spline+Sans:wght@300&family=Ubuntu+Mono&display=swap');

html {
  font-size: 11px; 
  font-family: 'Roboto', sans-serif;
}

html {
  /*background: url(background-01.jpg);  */
  /*background-color: #83c5be;*/
}

body {
  /*background: url(/images/background-01.jpg); */
  max-width: 900px;
  /*min-height: 1000px;*/
  margin: 0 auto;
  /*background-color: #a8dadc;*/
  padding: 0 20px 20px 20px;
}

h1  {
    color: black;
}

.imgstromb {
    display: block;
    /*margin: auto;*/
    width: 400px;
    float: right;
    border-radius: 30px;
    box-shadow: -7px 10px 7px rgba(0, 0, 0, 0.25);
}

.opisanie {
    display: block;
    /*display: flex;*/
}

.opisanieText {
    margin-left: 40px;
}

.otstup {
    margin-bottom: 200px;
}

/*МЕДИАЗАПРОСЫ*/

@media (max-width: 800px) {
    .otstup {
        margin-bottom: 200px;
    }
}

@media (max-width: 700px) {
    .otstup {
        margin-bottom: 150px;
    }
}

@media (max-width: 650px) {
    .otstup {
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 12px; 
    }
    body {
        max-width: 360px;
        /*margin: auto;*/
        margin-right: 100%;
        padding: 0 14px 14px 14px;
        background-image: url('background-02.jpg');
    }
    .imgstromb {
        width: 250px;
        float: none;
        margin: auto;
    }
    .opisanieText h2 {
        margin-left: -40px;
        text-align: center;
    }

    .opisanieText {
        display: block;
    }
    .otstup {
        margin-bottom: 30px;
    }
    .box0 {
        margin: 0 20px 0 10px;
        width: 200px;
        max-width: 360px;
        min-width: 300px;
        box-sizing: 100%;
        /*margin-right: 10px;*/
        /*padding-top: 10px;*/
    }
    .box1 {
        margin: 0 auto;
        max-width: 300px;
        min-width: 200px;
        /*margin-right: 10px;*/
        /*padding-top: 10px;*/
    }
    .h2 {
        font-size: 14px;
        margin: 10px;
    }
    .opisanieP {
        text-align: justify;
        padding-right: 40px;
    }
    .form-group .input-text {
        width: 300px;
    }

    .form-group #textArea1 {
        width: 300px;
    }    
    
    .references-1-2 li {
        float: left;
        width: 280px;
        clear:left;
    }
}

@media (max-width: 360px) { /*, (max-height: 700px)*/ 
    body {
        margin-right: 100%;
        max-width: 360px;
        background-image: url('background-02.jpg');
    }
    .box0 {
        max-width: 360px;
        /*padding-top: 10px;*/
    }
    .box1 {
        max-width: 300px;
        min-width: 200px;
    }
}

/*ПРОДОЛЖЕНИЕ ВЕРСТКИ*/

.box0 {
    max-width: 900px;
    min-width: 400px;
    margin: auto; 
    padding-top: 30px;
    background: rgba(168, 218, 220,.6);
    padding-bottom: 20px;
}
.references-1-2 li {
/*    float: left;
    width: 200px;
    clear:left;*/
}

.box1 {
    min-width: 300px;
    max-width: 800px;
    margin: auto; 
    padding-top: 30px;
}

.opisanie p {
    /*display: block;*/
    color: #86898f;
    margin: 0;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
 /*   text-transform: uppercase;*/
    /*letter-spacing: 5px;*/
}

.oglav01 {
    /*background: #caf0f8;*/
    background: rgba(202, 240, 248,.6);
    /*opacity: .3;*/
/*    background: url(images/52417449_Bakground.png);
    width: 300px;
    height: 200px;
    display: block;*/
    padding: 15px;
    border: 3px solid #0096c7;
    margin: 10px;
    border-radius: 30px;
}

.table1 {
    width: 100%;
}

.spisok2 {
    /*list-style: none;*/
}

.spisok2 li {
    background: url('gif.png') no-repeat 0 5px;;
            /*    list-style: square;*/
    /*list-style-image: url('images/gif.png')*/
}

.search h2 {
    text-transform: uppercase;
    text-align: center;
}

.form-group {
    display: block;
    margin: auto;
}

.form-group label {
    padding-bottom: 2px;
    display: block;
} 

.input-text {
    width: 500px;
}

textarea {
    display: block;
    width: 500px; 
    height: 200px; 
    resize: none; 
    margin: auto;
}

.form-group .input-text, .form-group #textArea1 {
/*    min-width: 60px;
    max-width: 500px;*/
    box-sizing: border-box;
    border: none;
    background: transparent;
    font-family: inherit;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    outline-color: #168aad;
}


/*.groupSearch {
    display: flex;
    margin-bottom: 20px;
}*/

.areaLabel {
    text-align: center;
}


#textArea1 {
    /*width: 300px;*/
 /*   display: block;
    margin: auto;
    margin-left: 152px;*/
}

.groupSearch {
    text-align: center;
}

.form-group #SubmitButton, .form-group #SubmitButton2 {
    background: #1d3557;
    border: none;
    font-family: inherit;
    color: #f1faee;
    cursor: pointer;
}

.form-group #SubmitButton:hover {
    opacity: 0.4;
} 

.form-group #SubmitButton2:hover {
    opacity: 0.4;
}

.buttonTOP {

}

#link2 {
    padding-left: 30px;
}
.references {
    display: inline-block;
    padding-left: -20px;
    /*float:left;*/
}
.link-spisok2 {
    margin: auto;    
}

.buttonTOPdesign {
    position: fixed;
    top: 40px;
    right: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #184e77;
}

.buttonTOPdesign:hover {
    opacity: 0.4;
    background: #bb3e03;
}

/*ДРУГИЕ МЕДИАЗАПРОСЫ*/

@media (max-width: 600px) {
    .oglav01 {
        padding: 15px;
        border: 2px solid #0096c7;
        margin: 30px;
        border-radius: 20px;
    }
    .table1 {
    margin: auto;
    width: 80%;
    }
    #link2 {
        padding-left: 50px;
    }
    .buttonTOPdesign {
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    }
}